*{
    font-family: 'Roboto'
}
.logOut:hover {
    transition: 1s;
    color: gray;
}
.inputStyle {
    width: 100%;
    height : 40px;
    border-radius: 5px;
    border: 2.5px solid #D4D4D4;
    padding-left: 10px;
    box-shadow: 5px 5px 12px 0px #D4D4D4;
    -moz-box-shadow: 5px 5px 12px 0px #D4D4D4;
    -webkit-box-shadow: 5px 5px 12px 0px #D4D4D4;
    
}
.inputStyle:focus {
    border: 1px solid #D4D4D4;
    
}

.buttonStyle {
    background-color:#FD5E1F;
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
    font-family: 'Roboto';
    box-shadow: 5px 5px 12px 0px #D4D4D4;
    -moz-box-shadow: 5px 5px 12px 0px #D4D4D4;
    -webkit-box-shadow: 5px 5px 12px 0px #D4D4D4;
}

.buttonStyle-2 {
    background-color:#FD5E1F;
    width: 40%;
    height: 40px;
    margin-right: 5;
    border: none;
    color: #ffffff;
    font-family: 'Roboto';
    box-shadow: 5px 5px 12px 0px #D4D4D4;
    -moz-box-shadow: 5px 5px 12px 0px #D4D4D4;
    -webkit-box-shadow: 5px 5px 12px 0px #D4D4D4;
}
.changeName{
    border: none;
    height: '100%';
}

.text {
    font-size: 11px
}
.Card-product{
    box-shadow: 5px 5px 12px 0px #D4D4D4;
    -moz-box-shadow: 5px 5px 12px 0px #D4D4D4;
    -webkit-box-shadow: 5px 5px 12px 0px #D4D4D4;
}